extends ../layout

block content
    h1 Search Results
    h3 Processed URL Analysis
        h4
            a(href='http://www.huffingtonpost.com/2010/06/22/iphone-4-review-the-worst_n_620714.html') http://www.huffingtonpost.com/2010/06/22/iphone-4-review-the-worst_n_620714.html
        h3 URL Text
        p Before you sign up for two years with AT&T, camp out in front of an Apple Store, and fork over $200 (minimum), check out our rundown of the worst things about the iPhone 4. (For an alternate take, be sure to browse the 9 best iPhone 4 features next!)\nThe iPhone 4 boasts a glass screen that Apple claims is stronger than plastic and more resistant to scratches. But its durability--and scratch resistance--has yet to be tested by users' everyday wear.     Already, there are reports that the iPhone's screen smudges easily and fails to withstand \"shock and sudden impact.\" CNET writes in its early review of the iPhone 4, \"The glass attracts smudges by the ton and durability remains a concern.\" iFixyouri warns the iPhone's design could make its glass screen susceptible to shattering: \"On the new iPhone, the glass basically sits on top of the aluminum frame. On the old iphone, it was recessed and protected by a chrome bezel.
        h3 What is Sentiment?
        p Sentiment is the attitude, opinion or feeling toward something, such as a person, organization, product or location. AlchemyAPI's sentiment analysis API provides easy-to-use mechanisms to identify the positive or negative sentiment within any document or webpage.
        p Sentiment analysis API is capable of computing document-level sentiment, sentiment for user-specified targets, entity-level sentiment, quotation-level sentiment, directional-sentiment and keyword-level sentiment. These multiple modes of sentiment analysis provide for a variety of use cases ranging from social media monitoring to trend analysis.

        p AlchemyAPI's sentiment analysis algorithm looks for words that carry a positive or negative connotation then figures out which person, place or thing they are referring to. It also understands negations (i.e. "this car is good" vs. "this car is not good") and modifiers (i.e. "this car is good" vs. "this car is really good"). The sentiment analysis API works on documents large and small, including news articles, blog posts, product reviews, comments and Tweets.
        hr
        p Overall Article Sentiment Score:
            strong negative : -0.24582