footer
  .container.text-center
    p.pull-left © 2016 {Undecided Project Name}, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/ryan-kearns/cs411') View on GitHub